/* Import MapLibre GL JS CSS */
@import 'maplibre-gl/dist/maplibre-gl.css';

/* 
  SIDE PANEL STYLES
*/
#info-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    display: none; // Hidden by default
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    flex-direction: column;

    &.visible {
        display: flex;
    }

    @media (min-width: 451px) {
        height: 100vh;
    }

    @media (max-width: 450px) {
        width: 100% !important; // Override inline style
        height: 100%;
    }

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 0px 5px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #f74848;
        flex-shrink: 0;
    }

    &__content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    &__content-text {
        padding: 20px 20px 10px 20px;
    }

    &__close-btn {
        background: url('./ui-icons/close.svg') center center no-repeat;
        background-size: 20px 20px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: #555;
        padding: 0;
        line-height: 1;
        width: 15px;
        height: 15px;

        &:hover {
            color: #000;
        }
    }

    &__content>img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 15px;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 22px;
    }

    div {
        font-size: 16px;
        line-height: 1.4;
    }
}

/* 
  LAYER CHOOSER STYLES
*/
.maplibregl-ctrl-group.custom-layer-chooser {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    .layer-chooser-btn {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('./ui-icons/layers.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .layer-chooser-panel {
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        background-color: white;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 220px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

        &.visible {
            display: block;
        }

        h4 {
            margin: 0 0 5px 0;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 8px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        div {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }

        label {
            font-size: 15px;
            margin-left: 5px;
            cursor: pointer;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        input {
            cursor: pointer;
            margin: 0;
            flex-shrink: 0;
        }
    }
}

.maplibregl-ctrl-top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .maplibregl-ctrl.custom-fullscreen-btn {
        align-self: center; // Center horizontally within the parent
        margin-top: 12px; // Space below the previous control group
        width: 28px;
        height: 28px;
        padding: 0;
        background: rgba(255, 255, 255, 1.0);
        border: none;
        cursor: pointer;

        &:hover {
            background: #fff;
        }

        span {
            display: inline-block;
            width: 100%;
            height: 100%;
            background: url(./ui-icons/fullscreen.svg) center center / 24px 24px no-repeat;
        }
    }
}